/*
!/.gitignore
!/.gitattributes
!/README.md
!/docs/
/docs/*
!/docs/*.md
!/Assets/
/Assets/*
!/Assets/02_Scripts/
!/Assets/02_Scripts.meta
!/Assets/06_CustomEditor/
!/Assets/06_CustomEditor.meta
/Assets/02_Scripts/*
!/Assets/02_Scripts/01_YWJ/
!/Assets/02_Scripts/01_YWJ.meta
/Assets/06_CustomEditor/*
!/Assets/06_CustomEditor/YWJ_CutSceneEditor/
!/Assets/06_CustomEditor/YWJ_CutSceneEditor.meta
/Assets/02_Scripts/01_YWJ/**
!/Assets/02_Scripts/01_YWJ/**/
!/Assets/02_Scripts/01_YWJ/**/*.cs
!/Assets/02_Scripts/01_YWJ/**/*.meta
/Assets/06_CustomEditor/YWJ_CutSceneEditor/**
!/Assets/06_CustomEditor/YWJ_CutSceneEditor/**/
!/Assets/06_CustomEditor/YWJ_CutSceneEditor/**/*.cs
!/Assets/06_CustomEditor/YWJ_CutSceneEditor/**/*.meta
*.env
*.pem
*.key
